[submodule "DarkSpace"]
	path = DarkSpace
	url = https://github.com/CarysT/darkspace.git
	branch = develop
[submodule "Medusa"]
	path = Medusa
	url = https://github.com/CarysT/medusa.git
	branch = develop
[submodule "GameCQ"]
	path = GameCQ
	url = https://github.com/CarysT/gamecq.git
	branch = develop
